<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>161113778349-ieascm2o4vkgbafta6mm1arlmfusvvb4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.161113778349-ieascm2o4vkgbafta6mm1arlmfusvvb4</string>
	<key>API_KEY</key>
	<string>AIzaSyAlPi7g-sVGRP1jDH8fiS9KCLLA6r2gf1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>161113778349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.edgesecure.app</string>
	<key>PROJECT_ID</key>
	<string>edge-notifications-4f3a4</string>
	<key>STORAGE_BUCKET</key>
	<string>edge-notifications-4f3a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161113778349:ios:c7c182e016c26021d77e24</string>
	<key>DATABASE_URL</key>
	<string>https://edge-notifications-4f3a4.firebaseio.com</string>
</dict>
</plist>